@charset "utf-8";
/* CSS Document */

body{
	min-width:1200px;
	font-family:"Century Gothic";
}
	
#header{
	background:url(../images/header-bg.jpg);
	background-repeat:repeat;
	width:100%;
	margin-left:-9px;
	height:66px;
	padding-left:10px;
	padding-top:10px;
	padding-right:5px;
}
.floatleft{
	float:left;
}

.floatright{
	float:right;
}

#logo{
	background:url(../images/shaastralogo.png);
	width:280px;
	height:50px;
}

#topright{
	height:54px;
	width:655px;
}

#icons{
   width:500px;
	height:54px;
	font-weight:bold;
	color:#fff;
	font-size:13px;
	text-align:center; 	
}

#icons a{
	display:block;
	height:66px;
	line-height:66px;
	min-height:45px;
	margin-left:32px;
	vertical-align:bottom;
	opacity:0.7; 
	filter:alpha(opacity=700);
}

#icons a:hover{
	opacity:1.0; 
	filter:alpha(opacity=1000);
	} 

#events{
	background:url(../images/events.png);
	background-repeat:no-repeat;
	background-position:top center;
} 

#home{
	background:url(../images/home.png);
	background-repeat:no-repeat;
	background-position:top center;
} 

#hospitality{
	background:url(../images/hospitality.png);
	background-repeat:no-repeat;
	background-position:top center;
} 

#spons{
	background:url(../images/login.png);
	background-repeat:no-repeat;
	background-position:top center;
}

#login{
	background:url(../images/login.png);
	background-repeat:no-repeat;
	background-position:top center;
}  

#twologos{
	width:105px;
	height:52px;
	padding-left:2px;
}

#tuvnord{
	background: url(../images/tuvnord.png);
	background-repeat:no-repeat;
	width:45px;
	height:46px;
}

#iitmlogo{
	background: url(../images/iitmlogo.png);
	background-repeat:no-repeat;
	width:44px;
	height:52px;
}